# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js build output
.next
out
dist

# Environment variables
.env*.local
.env
!.env.example

# Deployment artifacts
.netlify
.vercel

# macOS system files
.DS_Store
*.pem

# TypeScript cache
tsconfig.tsbuildinfo
